// General colors
$dark-blue: #109099;

$white-color: #fff;
$black-color: #000;

$light-gray: #d3d3d3;
$dark-gray: #a9a9a9;

$light-red: #ffcccb;
$primary-red: #ee5754;

$primary-green: #008000;

$primary-orange: #ffa500;
